---
pagination:
    data: procedures
    size: 1
    alias: procedure
permalink: "procedure/{{ procedure.reference }}/index.html"
---
<!DOCTYPE html>
<meta charset="utf8" />
<html>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"
/>
<body>
    <header>
        <nav>
            <ul>
                <li><h1>QuiVoteQuoi?</h1></li>
            </ul>
            <ul>
                <li><a href="/subjects">Sujets</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <a href="/">⟵ Retourner à la recherche</a>
            <h2>{{ procedure.title }}</h2>
            <h3>Sujets</h3>
            <ul>
                {% for code in procedure.subject %}
                    {% assign subject = subjects | find: 'code', code %}
                    <li><a href="/subject/{{ subject.code }}">{{ subject.name }}</a></li>
                {% endfor %}
            </ul>
            <h3>Votes</h3>
            {% assign procedure_votes = votes | where: 'procedure_ref', procedure.reference %}
            <ul>
                {% for vote in procedure_votes %}
                <li><a href="/vote/{{ vote.id }}">{{ vote.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>