---
pagination:
  data: votes
  size: 1
  alias: vote
permalink: "vote/{{ vote.id }}/index.html"
---
<!DOCTYPE html>
<meta charset="utf8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"/>
<style>
.votes {
  height: 3rem;
  display: flex;
  overflow: hidden;
  background-color: rgb(198, 198, 198);
  border-radius: 1.5rem;
}
.\+ {
  height: 100%;
  background-color: green;
  color: white
}
.\- {
  height: 100%;
  background-color: red;
  color: white
}
.\30 {
  height: 100%;
  background-color: orange;
  color: white
}
.novote {
  height: 100%;
  background-color: lightgrey;;
  color: white
}
.added {
  background-color: lightgreen;
}
.removed {
  background-color: lightcoral;
}
.circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
}
ins {
  text-decoration: underline;
}
</style>
<body>
  <header>
        <nav>
            <ul>
                <li><h1>QuiVoteQuoi?</h1></li>
            </ul>
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/subjects">Sujets</a></li>
                <li><a href="/members">Membres</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% assign procedure = procedures | find: 'reference', vote.procedure_ref %}
        <a href="/procedure/{{ vote.procedure_ref }}">⟵ Retourner à la procédure</a>
        <h2>{{ procedure.title }} ({% if vote.amendment != '' %}Amendement n°{{ vote.amendment }}{% else %}Vote final{% endif %})</h2>
        <h3>{{ vote.title }}</h3>
        {% if vote.amendment != '' %}
        <h4>Détail de l'amendement</h4>
        {% assign amendment = amendments | where: 'doc', vote.doc | find: 'nr', vote.amendment %}
        {% assign changes = amendment.old | diff: amendment.new %}
        <section>
        {% for change in changes %}
          {% if change[0] == 1 %}
            <ins>{{ change[1] }}</ins>
          {% elsif change[0] == -1 %}
            <del>{{ change[1] }}</del>
          {% else %}
            {{ change[1] }}
          {% endif %}
        {% endfor %} 
        </section>
        {% endif %}
        {% assign active_members = members | current: vote.date %}
        <h4>Résultat global</h4>
        {% render 'components/bar', positions: vote.positions, members: active_members %}
        <h4>Résultat par parti</h4>
        {% assign parties = active_members | group_by: 'party' %}
        {% for party in parties %}
          <h5>{{ party.name }} ({{ party.items | size }} députés)</h5>
          {% assign member_ids = party.items | map: 'id' %}
          {% assign p_positions = vote.positions | where_in: 'member_id', member_ids %}
          {% render 'components/bar', positions: p_positions, members: party.items  %}
          <details>
            <summary>Voir le détail des votes</summary>
            <p>
              {% for member in party.items %}
                  {% assign position = p_positions | find: 'member_id', member.id %}
                  <span class="{{ position.position | default: 'novote' }}">{{ member.full_name }}</span>
              {% endfor %}
            </p>
        </details>
        {% endfor %}
    </div>
</div>
</html>