---
pagination:
  data: votes
  size: 1
  alias: vote
permalink: "vote/{{ vote.id }}/index.html"
---
<!DOCTYPE html>
<meta charset="utf8" />
<html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.min.css"/>
<style>
.votes {
  height: 3rem;
  display: flex;
  overflow: hidden;
  background-color: rgb(198, 198, 198);
  border-radius: 1.5rem;
}
.for {
  height: 100%;
  background-color: rgb(57, 135, 18);
}
.against {
  height: 100%;
  background-color: rgb(217, 53, 38);
}
.abstention {
  height: 100%;
  background-color: rgb(217, 200, 0);
}
.novote {
  height: 100%;
  background-color: rgb(198, 198, 198);;
}
.added {
  background-color: rgb(57, 135, 18);
}
.removed {
  background-color: rgb(217, 53, 38);
}
.circle {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  border-radius: 50%;
  vertical-align: middle;
}
ins {
  text-decoration: underline;
}
</style>
<body>
    <header><h1>QuiVoteQuoi?</h1></header>
    <main>
        {% assign procedure = procedures | where: 'reference', vote.procedure_ref | first %}
        <a href="/procedure/{{ vote.procedure_ref }}">⟵ Retourner à la procédure</a>
        <h2>{{ procedure.title }}</h2>
        <h3>{{ vote.title }}</h3>
        {% if vote.amendment_id %}
        <h4>Détail de l'amendement</h4>
        {% assign amendment = amendments | where: 'id', vote.amendment_id | first %}
        {% assign changes = amendment.old | diff: amendment.new %}
        <section>
        {% for change in changes %}
          {% if change.added %}
            <ins>{{ change.value }}</ins>
          {% elsif change.deleted %}
            <del>{{ change.value }}</del>
          {% else %}
            {{ change.value }}
          {% endif %}
        {% endfor %} 
        </section>
        {% endif %}
        <h4>Résultat global</h4>
        <section class="votes">
          {% assign positions = vote.positions | where: 'position', 'for' %}
          <div class="for" style="width: calc({{ positions.length }}/{{ members.length }} * 100%)"></div>
          {% assign positions = vote.positions | where: 'position', 'against' %}
          <div class="against" style="width: calc({{ positions.length }}/{{ members.length }} * 100%)"></div>
          {% assign positions = vote.positions | where: 'position', 'abstention' %}
          <div class="abstention" style="width: calc({{ positions.length }}/{{ members.length }} * 100%)"></div>
        </section>
        <h4>Résultat par parti</h4>
        {% assign parties = members | group_by: 'party' %}
        {% for party in parties %}
          <h5>{{ party.name }}</h5>
          {% assign member_ids = party.items | map: 'id' %}
          {% assign p_positions = vote.positions | where_in: 'member_id', member_ids %}
          <section class="votes">
            {% assign positions = p_positions | where: 'position', 'for' %}
            <div class="for" style="width: calc({{ positions.length }}/{{ member_ids.length }} * 100%)"></div>
            {% assign positions = p_positions | where: 'position', 'against' %}
            <div class="against" style="width: calc({{ positions.length }}/{{ member_ids.length }} * 100%)"></div>
            {% assign positions = p_positions | where: 'position', 'abstention' %}
            <div class="abstention" style="width: calc({{ positions.length }}/{{ member_ids.length }} * 100%)"></div>
          </section>
        {% endfor %}
        <h4>Résultat par député</h4>
        <section>
        {% for member in members %}
          {% assign position = vote.positions | where: 'member_id', member.id | first %}
          <span class="circle {{ position.position | default: 'novote' }}"></span> {{ member.full_name }}<br>
        {% endfor %}
        </section>
    </div>
</div>
</html>